# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:
    
    * list of data science languages
    * list of useful liberaries
    * Tools of data science 
    * Eamples of python code
    * code and comments

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:

      1. Numpy
      2. Keras
      3. Panda
      4. Scikit-learn

## Data Science Tools

      1. Rstudio
      2. Watson studio
      3. Apache Hadoop




### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
 #'This a simple arithmetic expression to mutiply then add integers'

17

In [16]:
t=200
x = t/60

print(x)

#this will convert 200 minutes to hours by diving by 60.
#t in minutes
#x in hours

3.3333333333333335






 ## Author
   Kavita Tiwari